.homepage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 15px 5px gray;
    background: white;
    position: relative;
}

.homepage > .button {
    background: #7277f2;
    border: 1px solid #7277f2;
    color: #fff;
    font-size: 1.25rem;
    /* padding: 0.5rem; */
    /* margin: 0.5rem 0; */
    border-radius: 8px;
    /* height: 100% !important; */
    outline: none;
    cursor: pointer;
}
.pull-right {
    float: right;
    margin-top: 5px;
}
.container {
    max-width: 100%;
}
.uploadFile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 30vh;
    box-shadow: 0 0 15px 5px gray;
    background: white;
    position: relative;
}

.bgcolor{
    background-color: #aeb9d6;
}























.tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
  }
  
  .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
  }
  .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
  }
  .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
  }
  .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid rgb(80,144,247);
  }
  .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #32465B;
    position: relative;
  }
  .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }